[submodule "cotacao"]
	path = cotacao
	url = ./cotacao
[submodule "quarkus-kafka-proposta"]
	path = quarkus-kafka-proposta
	url = git@github.com:marcelocamacho/quarkus-kafka-proposta.git
[submodule "quarkus-kafka-cotacao"]
	path = quarkus-kafka-cotacao
	url = git@github.com:marcelocamacho/quarkus-kafka-cotacao.git
[submodule "quarkus-kafka-report"]
	path = quarkus-kafka-report
	url = git@github.com:marcelocamacho/quarkus-kafka-report.git
[submodule "quarkus-gateway-bff"]
	path = quarkus-gateway-bff
	url = git@github.com:marcelocamacho/quarkus-gateway-bff.git
